.tetris
	&__game-field
		width 430px
		height 800px
		background-color lightgray
		display flex
		flex-direction column
		&_row
			display flex
		&_cell
			width 20px
			height 20px
			text-align center
